{% extends 'base.html' %}
{% block head %}
<style>
    .box {
  background-color: #d3d3d38c;
  width: 100%;
  padding: 25px;
  margin: 20px;
  font-family: system-ui;
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row bg-dark">
        <div class="col-12" >
            <div class="box">
                <h3 class="bg-dark"><b>About Us</b></h3>
                <p class="bg-dark">We have been serving people with different valuable products. Since Covid pandemic hit, many people who regularly go to the gym, felt difficult to maintain their health and fitness. So we find our products that are helpful for them and continuing their fitness routines. Fitness Gym is established in 2020 with a little capital. Presently we have launched our website to provide our customers with a vast variety of gym equipments. We have attained about 5000+ customers satisfaction in 2 years.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}