{% extends 'base.html' %}

{% block head %}
<style>
    .box {
  background-color: #d3d3d38c;
  width: 100%;
  padding: 25px;
  margin: 20px;
  font-family: system-ui;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row box">
        <h3>CONTACT US</h3>
    </div>
    <div class="row box">
        <div class="col-4">
            <b>Fitness Gym</b>
            <p><i class="fa fa-map-marker"></i>&nbsp;Kannur, Kerala</p>
        </div>
        <div class="col-8">
            <b>Telephone</b>
            <p><i class="fa fa-phone"></i>&nbsp;<a class="text-dark" href="tel:+919072722024">+919072722024</a></p>
            <br>
            <b>Email</b>
            <p><i class="fa fa-envelope"></i>&nbsp;<a class="text-dark" href="mailto:fitnessgym@gmail.com">fitnessgym@gmail.com</a></p>
        </div>
    </div>
    {% if user.is_authenticated %}
    <form action="{% url 'feedback' %}" method="post">
        {% csrf_token %}
        <div class="row box">
            <div class="col-5">
                <label><b>Name</b>&ast;</label><br>
                <input class="form-control" type="text" name="name" required>
            </div>
            <div class="col-5">
                <label><b>Email</b>&ast;</label><br>
                <input class="form-control" type="email" name="email" required>
            </div>
            <div class="col-12" style="margin-top: 10px">
                <label><b>Enquiry/Feedback</b>&ast;</label><br>
                <textarea class="form-control" rows="4" name="feedback" required></textarea>
            </div>
            <div class="col-12" style="margin-top: 10px">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    {% else %}
    <div class="row box">
        <div class="col-12">
            <p><a href="{% url 'login' %}">Sign in to give feedback</a></p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}