{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Page Content -->
    <!-- Single Starts Here -->
    <div class="single-product">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Single Product</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-slider">
              <div id="slider" class="flexslider">
                <ul class="slides">
                  <li>
                    <img src={{pr.img.url}} />
                  </li>

                  <!-- items mirrored twice, total of 12 -->
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <h4>{{pr.name}}</h4>
              <h6>Rs&nbsp;{{pr.price}}</h6>
              <p>{{pr.desc}}</p>
              {% if pr.stock >= 1 %}
              <span>{{pr.stock}} left on stock</span><br>
              <a href="{% url 'add_cart' pr.slug %}" class="btn btn-primary">Add to cart</a>
              {% else %}
              <span class="text-danger">Item out of stock</span><br>
              {% endif %}

<!--              <form action="" method="get">-->
<!--                <label for="quantity">Quantity:</label>-->
<!--                <input name="quantity" type="quantity" class="quantity-text" id="quantity"-->
<!--                	onfocus="if(this.value == '1') { this.value = ''; }"-->
<!--                    onBlur="if(this.value == '') { this.value = '1';}"-->
<!--                    value="1">-->
<!--                <input type="submit" class="button" value="Order Now!">-->
<!--              </form>-->
              <div class="down-content">
                <div class="categories">
                  <h6>Category: <span><a href="{{ct.get_url}}">{{pr.category}}</a></span></h6>
                </div>
                <div class="share">
                  <h6>Share: <span><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Single Page Ends Here -->
    <div class="featured-items">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>You May Also Like</h1>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-carousel owl-theme">
              {% for i in sm %}
              <a href="#">
                <div class="featured-item">
                  <img src={{i.img.url}} alt="Item 1">
                  <h4>{{i.name}}</h4>
                  <h6>Rs{{i.price}}</h6>
                </div>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}